section.change-pin {
  margin-top: 150px;
}

section.change-pin .sidebar {
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  position: relative;
}

section.change-pin .sidebar div.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 35px;
  left: 0;
  background-color: #6379f4;
}

section.change-pin .sidebar a {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  transition: 0.5s ease;
}

section.change-pin .sidebar a.active {
  font-weight: 700;
  color: #6379f4;
}

section.change-pin .sidebar a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.change-pin .details {
  height: 678px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

section.change-pin .details h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

section.change-pin .details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}

section.change-pin .details form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.change-pin .details .input-pin {
  white-space: nowrap;
}

section.change-pin .details input.form-control.pin {
  width: 53px;
  height: 65px;
  background-color: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #3a3d42;
  text-align: center;
  padding-bottom: 0px;
}

section.change-pin .details input.form-control.pin::placeholder {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: rgba(169, 169, 169, 0.8);
}

section.change-pin .details input.form-control.pin.active {
  border: 1.5px solid #6379f4;
}

section.change-pin .details button.btn-continue,
section.change-pin .details button.btn-pin {
  width: 427px;
  height: 57px;
  background-color: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #88888f;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.5s ease;
}

section.change-pin .details button.btn-continue:hover,
section.change-pin .details button.btn-pin:hover {
  cursor: no-drop;
}

section.change-pin .details button.btn-continue.active,
section.change-pin .details button.btn-pin.active {
  background-color: #6379f4;
  color: #ffffff;
}

section.change-pin .details button.btn-continue.active:hover,
section.change-pin .details button.btn-pin.active:hover {
  cursor: pointer;
  border: 2px solid #6379f4;
  color: #6379f4;
  background-color: #ffffff;
}

@media screen and (max-width: 991px) {
  section.change-pin .details button.btn-continue.active:hover,
  section.change-pin .details button.btn-pin.active:hover {
    cursor: pointer;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #6379f4;
    opacity: 0.6;
  }
}

@media screen and (max-width: 767px) {
  section.change-pin .details form {
    margin-top: 50px;
  }

  section.change-pin .details button.btn-continue,
  section.change-pin .details button.btn-pin {
    width: 260px;
  }
}
