section.change-password {
  margin-top: 150px;
}

section.change-password .sidebar {
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  position: relative;
}

section.change-password .sidebar div.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 35px;
  left: 0;
  background-color: #6379f4;
}

section.change-password .sidebar a {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  transition: 0.5s ease;
}

section.change-password .sidebar a.active {
  font-weight: 700;
  color: #6379f4;
}

section.change-password .sidebar a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.change-password .details {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

section.change-password .details h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

section.change-password .details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}

section.change-password .details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.change-password .details .form-group {
  margin-top: 60px;
}

section.change-password .details .password {
  position: relative;
}

section.change-password .details .password img.password-img,
section.change-password .details .password img.eye-img {
  position: absolute;
  top: 2px;
  left: 0;
}

section.change-password .details .password img.password-img {
  top: 0;
}

section.change-password .details .password img.eye-img {
  left: inherit;
  right: 0;
  cursor: pointer;
}

section.change-password .details .password input.form-control {
  width: 431px;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-radius: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #3a3d42;
  padding-left: 40px;
  padding-bottom: 11px;
}

section.change-password .details .password input.form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
}

section.change-password .details .password input.form-control.active {
  border-bottom: 1.5px solid #6379f4;
}

section.change-password .details .password input.form-control.error {
  border-bottom: 1.5px solid #ff5b37;
}

section.change-password .details .password small.error {
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  color: #ff5b37;
}

section.change-password .details button.btn-password {
  width: 432px;
  height: 57px;
  background-color: #dadada;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #88888f;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.5s ease;
}

section.change-password .details button.btn-password:hover {
  cursor: no-drop;
}

section.change-password .details button.btn-password.active {
  background-color: #6379f4;
  color: #ffffff;
}

section.change-password .details button.btn-password.active:hover {
  cursor: pointer;
  border: 2px solid #6379f4;
  color: #6379f4;
  background-color: #ffffff;
}

@media screen and (max-width: 991px) {
  section.change-password {
    margin-top: 140px;
  }

  section.change-password .details button.btn-password.active:hover {
    cursor: pointer;
    border: 2px solid transparent;
    color: #ffffff;
    background-color: #6379f4;
    opacity: 0.6;
  }
}

@media screen and (max-width: 575px) {
  section.change-password .details .password input.form-control {
    width: 300px;
  }

  section.change-password .details button.btn-password {
    width: 300px;
  }
}
