html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav.custom {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav.custom a.navbar-brand {
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #6379f4 !important;
}

nav.custom .profile span.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #3a3d42;
}

nav.custom .profile span.number {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(58, 61, 66, 0.9);
}

nav.custom .bell {
  cursor: pointer;
}

nav.custom .navbar-nav img.user {
  border-radius: 10px;
}

nav.custom .navbar-nav.custom {
  transform: translateY(10px);
}

nav.custom .navbar-nav.custom a {
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  transition: 0.5s ease;
  text-align: left !important;
}

nav.custom .navbar-nav.custom a.active {
  font-weight: 700;
  color: #6379f4;
}

nav.custom .navbar-nav.custom a:hover {
  text-decoration: none;
  opacity: 0.6;
}

footer.small {
  background-color: #6379f4;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 20px;
}

footer.small p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(239, 239, 239, 0.9);
}

footer.small span {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #efefef;
}

.notification {
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 9999;
}

.notification {
  background-color: #ffffff;
  box-shadow: 0px 0px 70px rgba(99, 99, 99, 0.15);
  border-radius: 20px;
}

.notification h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7a7886;
}

.notification .history {
  width: 343px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.notification .history .detail span.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7a7a7a;
}

.notification .history .detail span.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #43484f;
}

.sidebar .logout-menu a.logout {
  cursor: pointer;
}
