section.history {
  margin-top: 150px;
}

section.history .sidebar {
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  position: relative;
}

section.history .sidebar div.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 35px;
  left: 0;
  background-color: #6379f4;
}

section.history .sidebar a {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  transition: 0.5s ease;
}

section.history .sidebar a.active {
  font-weight: 700;
  color: #6379f4;
}

section.history .sidebar a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.history .transaction {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  min-height: 550px;
}

section.history .transaction h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

section.history .transaction p.time {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7a7886;
}

section.history .transaction p.empty {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

section.history .transaction .users img.user {
  border-radius: 10px;
}

section.history .transaction .users span.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #4d4b57;
}

section.history .transaction .users span.type {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
}

section.history .transaction .users div.price p.transfer {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1ec15f;
  white-space: nowrap;
}

section.history .transaction .users div.price p.left {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ff5b37;
  white-space: nowrap;
}

section.history .transaction .users a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #6379f4;
  transition: 0.5s ease;
  transform: translateY(-10px);
}

section.history .transaction .users a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.history .transaction .btn-order {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

section.history .transaction .btn-order.active {
  background-color: #6379f4;
}

section.history .transaction select.custom-select {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #6379f4;
  cursor: pointer;
}

section.history .transaction select.custom-select option {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #6379f4;
}

section.history .transaction ul.pagination-custom {
  list-style: none;
  display: flex;
  transform: translateX(-22px);
}

section.history .transaction ul.pagination-custom li button {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 0.5px solid #dedede;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #4e4b66;
  text-decoration: none;
  transition: 0.5s ease;
}

section.history .transaction ul.pagination-custom li button:hover {
  background-color: #6379f4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border: 0.5px solid transparent;
  color: #fff;
}

section.history .transaction ul.pagination-custom li button.page-active {
  background-color: #6379f4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border: 0.5px solid transparent;
  color: #fff;
}

section.history .transaction ul.pagination-custom li button.page-active:hover {
  background-color: #ffffff;
  border: 0.5px solid #dedede;
  color: #4e4b66;
  box-shadow: inherit;
}

section.history .transaction .history-notification {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

section.history .transaction .detail-notification span.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7a7a7a;
}

section.history .transaction .detail-notification span.price {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #43484f;
}

@media screen and (max-width: 575px) {
  section.history .transaction select.custom-select {
    width: 180px;
    font-size: 16px;
  }

  section.history .transaction select.custom-select option {
    font-size: 16px;
  }
}
