section.personal {
  margin-top: 150px;
}

section.personal .sidebar {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  position: relative;
}

section.personal .sidebar div.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 35px;
  left: 0;
  background-color: #6379f4;
}

section.personal .sidebar a {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  transition: 0.5s ease;
}

section.personal .sidebar a.active {
  font-weight: 700;
  color: #6379f4;
}

section.personal .sidebar a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.personal .logout-menu {
  margin-top: 265px;
}

section.personal .information {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

section.personal .information h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

section.personal .information p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7a7886;
}

section.personal .information .details {
  height: 92px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

section.personal .information .details span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7a7886;
}

section.personal .information .details p {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #514f5b;
}

section.personal .information .details a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #6379f4;
  transition: 0.5s ease;
}

section.personal .information .details a:hover {
  text-decoration: none;
  opacity: 0.6;
}
