section.profile {
  margin-top: 150px;
}

section.profile .sidebar {
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  position: relative;
}

section.profile .sidebar div.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 35px;
  left: 0;
  background-color: #6379f4;
}

section.profile .sidebar a {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
  transition: 0.5s ease;
}

section.profile .sidebar a.active {
  font-weight: 700;
  color: #6379f4;
}

section.profile .sidebar a:hover {
  text-decoration: none;
  opacity: 0.6;
}

section.profile .details {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

section.profile .details img.user,
section.profile .modal-content .modal-body img.user {
  border-radius: 10px;
}

section.profile .details .edit {
  cursor: pointer;
}

section.profile .details span {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7a7886;
  transition: 0.5s ease;
}

section.profile .details span:hover {
  opacity: 0.6;
}

section.profile .details h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #4d4b57;
}

section.profile .details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #7a7886;
}

section.profile .option {
  width: 433px;
  background-color: #e5e8ed;
  border-radius: 10px;
  cursor: pointer;
}

section.profile .option p {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #4d4b57;
}

section.profile .modal-content .modal-footer .btn-edit {
  width: 170px;
  height: 57px;
  border-radius: 12px;
  background-color: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s ease;
}

section.profile .modal-content .modal-footer .btn-edit:hover {
  background-color: #ffffff;
  border: 2px solid #6379f4;
  color: #6379f4;
}

section.profile .modal-content {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}

section.profile .modal-content h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}

section.profile .modal-content .modal-header {
  border: 0;
}

section.profile .modal-content .modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
  transform: translateY(-15px);
}

section.profile .modal-content .modal-body form {
  transform: translateY(-20px);
}

section.profile .modal-content .modal-body .img-container {
  position: relative;
}

section.profile .modal-content .modal-body .file-input {
  position: absolute;
  width: 80px;
  height: 80px;
  opacity: 0;
  left: 177px;
  cursor: pointer;
}

section.profile .modal-content .modal-body img.user {
  cursor: pointer;
}

section.profile .modal-content .modal-body input.form-control {
  width: 433px;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-radius: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #3a3d42;
  padding-left: 40px;
  padding-bottom: 11px;
}

section.profile .modal-content .modal-body input.form-control::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgba(169, 169, 169, 0.8);
}

section.profile .modal-content .modal-body input.form-control.active {
  border-bottom: 1.5px solid #6379f4;
}

section.profile .modal-content .modal-body .person,
section.profile .modal-content .modal-body .phone {
  position: relative;
  margin-top: 50px;
}

section.profile .modal-content .modal-body .person img.person-img,
section.profile .modal-content .modal-body .phone img.phone-img {
  position: absolute;
  top: 2px;
  left: 0;
}

section.profile .modal-content .modal-footer {
  border: 0;
}

@media screen and (max-width: 575px) {
  section.profile .option {
    width: 300px;
  }

  section.profile .modal-content .modal-body input.form-control {
    width: 300px;
  }
}
